gradle-wrapper.jar
/.gradle
/captures/
# /gradlew  -- tracked in git, needed for CI system-Gradle bypass
# /gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
